body {
  background: #f0dede;
  font-family: 'Times New Roman', serif;
  color: #2a1a1a;
}
.layout {
  display: grid;
  grid-template-columns: 200px 1fr 220px;
  border-top: 1px solid hwb(0 0% 100%);
}